{% extends 'base.html' %}
{% block title %} Registro {% endblock %}

  {% block body %}
  <div class="row py-5 p-4 bg-white rounded shadow-sm">

    <div class="col-lg-6">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold"
            style="color:black;font-weight:bold">Detalles de Registro</div>
        <br>
        <form class="row g-4" method="POST" action="/signup/">{% csrf_token %}
            <div class="col-md-12">
                <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                        Usuario</i></label>
                <input type="text" placeholder="Nombre de Usuario" style="text-align: center;"
                    class="form-control" id="username" name="username" required>
            </div>
            <div class="col-md-12">
                <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                        Email</i></label>
                <input type="email" placeholder="Ingresa tu correo electrónico" style="text-align: center;"
                    class="form-control" id="email" name="email" required>
            </div>
            <div class="col-md-12">
                <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                        Contraseña</i></label>
                <input type="password" placeholder="Ingresa tu Contraseña" style="text-align: center;"
                    class="form-control" id="password1" name="password1" required>
            </div>
            <div class="col-md-12">
                <label for="inputname" class="form-label" style="font-weight: bold;"><i>
                        Confirma tu Contraseña</i></label>
                <input type="password" placeholder="Ingresa tu Contraseña nuevamente" style="text-align: center;"
                    class="form-control" id="password2" name="password2" required>
            </div>
            <button type="submit" class="btn">Aceptar</button>
            </form>
            <br>
        </div>
  </div>

  {% endblock %}